*.py             text diff=python
*.toml           text
*.yml            text
*.gitattributes  text
*.gitignore      text
*.flake8         text
*.editorconfig   text
*.md             text diff=markdown
LICENSE          text
