
*.sh             text eol=lf diff=bash
*.py             text diff=python
*.toml           text
*.txt            text
*.yml            text
*.gitattributes  text
*.gitignore      text
*.md             text diff=markdown
LICENSE          text
